<!-- To the right -->
<div class="pull-right hidden-xs">
  Version <span class="label label-warning"> <%= gitVersion %></span>

</div>
<!-- Default to the left -->

<strong>Copyright &copy; 2019 - 2020 <a href="#">Automation Consultant</a>.</strong> All rights reserved.