<section class="sidebar">
  <!-- Sidebar Menu -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="header">STATISTIC</li>
    <!-- Optionally, you can add icons to the links -->
    <!-- <li class="active"><a href="/users"><i class="fa fa-user"></i> <span>User</span></a></li> -->
    <!-- <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->
    <li class="treeview">
      <a href="#"><i class="fa fa-thermometer-three-quarters"></i> <span>Home</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <!-- <li><a href="/alarm">Alarm</a></li> -->
        <li><a href="/">Information</a></li>
        <li><a href="/history/chart">History Chart</a></li>
        <li><a href="/real/l2">Realtime</a></li>
      </ul>
    </li>
    
    <% if(0) { %>
    <li class="treeview">
      <a href="#"><i class="fa fa-bar-chart"></i> <span>Power Monitor</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <!-- <li><a href="/alarm">Alarm</a></li> -->
        <li><a href="/power">History</a></li>
        <li><a href="/power/real">Realtime</a></li>
        <li><a href="/power/chart">Chart</a></li>
        <li><a href="/power/allchart">All station chart</a></li>
      </ul>
    </li>

    <li class="treeview">
      <a href="#"><i class="fa fa-bar-chart"></i> <span>Flexy</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <!-- <li><a href="/alarm">Alarm</a></li> -->
        <li><a href="/flexy">Realtime</a></li>
        <!-- <li><a href="/power/real">Realtime</a></li>
        <li><a href="/power/chart">Chart</a></li>
        <li><a href="/power/allchart">All station chart</a></li> -->
      </ul>
    </li>

    
    <li class="treeview">
      <a href="#"><i class="fa fa-bar-chart"></i> <span>Inverter</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <!-- <li><a href="/alarm">Alarm</a></li> -->
        <li><a href="/inverter/setting">Setting</a></li>
        <li><a href="/inverter/device">Device</a></li>
        <li><a href="/inverter/device">Chart</a></li>
        <li><a href="/power/allchart">All station chart</a></li>
      </ul>
    </li>
    <% } %>
    <li class="treeview">
      <a href="#"><i class="fa fa-bar-chart"></i> <span>Api</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <!-- <li><a href="/alarm">Alarm</a></li> -->
        <li><a href="/developer/introduce">Introduce</a></li>
        <li><a href="/developer/temp-hum">Temp - Humi</a></li>
        

      </ul>
    </li>

  </ul>
  <!-- /.sidebar-menu -->
</section>